/.metadata/
/API_Documentation/
*.exe
*.obj
*.read.1.tlog
*.lastbuildstate
*.7z
*.pdb
*.log
*.command.1.tlog
*.idb
*.pdf
*.write.1.tlog
/DebugProject/DebugPr/.vs/
/DebugProject/DebugPr/Debug/
/InterviewAlgorithms/InterviewAlgorithms/Debug/Intervie.A6AFE94C.tlog/unsuccessfulbuild
*.ilk
/InterviewAlgorithms/.vs/InterviewAlgorithms/v15/Browse.VC.db
/InterviewAlgorithms/.vs/InterviewAlgorithms/v15/ipch/37b6932aebf5a264.ipch
/InterviewAlgorithms/InterviewAlgorithms/Debug/InterviewAlgorithms.pch
/StrcpyExample/.vs/
/StrcpyExample/Debug/
/TestVs2017/.vs/
/TestVs2017/Debug/
/TestVs2017/TestVs2017/Debug/
*.dep
/CppTrainingDoxyfile
/OpenGl/Demo1/.vs/
/OpenGl/Demo3/Demo3/x64/Debug/Demo2.tlog/unsuccessfulbuild
/OpenGl/Demo2/.vs/
/OpenGl/Demo3/.vs/
/TestBreakPoints/.vs/
/TestBreakPoints/TestBreakPoints/Debug/
*.dmp
*.i64
/OpenGl/Libs/
/OpenGl/Demo3/Demo3/x64/Debug/Demo3.tlog/unsuccessfulbuild
/WordsGenerator/.vs/
/InterviewAlgorithms/.vs/
/OpenGl/Demo2/Demo2/x64/
/InterviewAlgorithms/InterviewAlgorithms/.vs/
/InterviewAlgorithms/InterviewAlgorithms/x64/Debug/
/SchedulerProblem/SchedulerProblemCpp/.vs/
*.suo
/TIC-TAC-TOE/.vs/
/InterviewAlgorithms/InterviewAlgorithms/TIC-TAC-TOE/.vs/
/InterviewAlgorithms/InterviewAlgorithms/Debug/
/.vs/
/Exceptions/Exceptions/Debug/
/CppAsembly/MASAM_Test/.vs/
/CppAsembly/MASAM_Test/MASAM_Test/Debug/
/OpenGl/Demo1/Demo1/Debug/
/Debug/
/ConsoleInputEcho/ConsoleInputEcho/ConsoleInputEcho/Debug/
/SchedulerProblem/SchedulerProblemCpp/SchedulerProblemCpp/Debug/
