/.metadata/
/API_Documentation/
*.exe
*.obj
*.read.1.tlog
*.lastbuildstate
*.7z
*.pdb
*.log
*.command.1.tlog
*.idb
*.pdf
*.write.1.tlog
/DebugProject/DebugPr/.vs/
/DebugProject/DebugPr/Debug/
/InterviewAlgorithms/InterviewAlgorithms/Debug/Intervie.A6AFE94C.tlog/unsuccessfulbuild
*.ilk
/InterviewAlgorithms/.vs/InterviewAlgorithms/v15/Browse.VC.db
/InterviewAlgorithms/.vs/InterviewAlgorithms/v15/ipch/37b6932aebf5a264.ipch
/InterviewAlgorithms/InterviewAlgorithms/Debug/InterviewAlgorithms.pch
/StrcpyExample/.vs/
/StrcpyExample/Debug/
/TestVs2017/.vs/
/TestVs2017/Debug/
/TestVs2017/TestVs2017/Debug/
*.dep
/CppTrainingDoxyfile
